---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/kristindiannefoss
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 87f3add921d2843c62815c638487b244f2cb0973
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1465507288'
      Etag:
      - W/"57c626fc402b81430a4ead80ba0c7575"
      Last-Modified:
      - Thu, 19 May 2016 06:51:57 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - user
      X-Oauth-Client-Id:
      - a9f11acb9db816bd8590
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"login":"kristindiannefoss","id":15794034,"avatar_url":"https://avatars.githubusercontent.com/u/15794034?v=3","gravatar_id":"","url":"https://api.github.com/users/kristindiannefoss","html_url":"https://github.com/kristindiannefoss","followers_url":"https://api.github.com/users/kristindiannefoss/followers","following_url":"https://api.github.com/users/kristindiannefoss/following{/other_user}","gists_url":"https://api.github.com/users/kristindiannefoss/gists{/gist_id}","starred_url":"https://api.github.com/users/kristindiannefoss/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kristindiannefoss/subscriptions","organizations_url":"https://api.github.com/users/kristindiannefoss/orgs","repos_url":"https://api.github.com/users/kristindiannefoss/repos","events_url":"https://api.github.com/users/kristindiannefoss/events{/privacy}","received_events_url":"https://api.github.com/users/kristindiannefoss/received_events","type":"User","site_admin":false,"name":"Kristin
        Foss","company":null,"blog":null,"location":"Denver, Colorado","email":null,"hireable":true,"bio":null,"public_repos":35,"public_gists":6,"followers":18,"following":42,"created_at":"2015-11-11T03:20:46Z","updated_at":"2016-05-19T06:51:57Z"}'
  recorded_at: Thu, 09 Jun 2016 20:21:27 GMT
recorded_with: VCR 3.0.3
