---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?APPID=7c7ca0ee9169c5ebdc6f29564d19b7e0&q=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-104.98,"lat":39.74},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"base":"stations","main":{"temp":305.18,"pressure":1003,"humidity":21,"temp_min":302.04,"temp_max":307.59},"wind":{"speed":1.54,"deg":49,"gust":3.6},"clouds":{"all":0},"dt":1465508544,"sys":{"type":3,"id":35615,"message":0.0305,"country":"US","sunrise":1465471890,"sunset":1465525661},"id":5419384,"name":"Denver","cod":200}'
  recorded_at: Thu, 09 Jun 2016 21:51:52 GMT
recorded_with: VCR 3.0.3
