---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?APPID=78349e07d595ad8b249034c66e4e2303
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"404","message":"Error: Not found city"}'
  recorded_at: Thu, 09 Jun 2016 03:57:55 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?APPID=78349e07d595ad8b249034c66e4e2303&q=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-104.98,"lat":39.74},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"base":"cmc stations","main":{"temp":292.19,"pressure":1005,"humidity":41,"temp_min":289.82,"temp_max":295.37},"wind":{"speed":0.56,"deg":161},"rain":{"1h":0.3},"clouds":{"all":68},"dt":1465444530,"sys":{"type":3,"id":35615,"message":0.003,"country":"US","sunrise":1465471895,"sunset":1465525639},"id":5419384,"name":"Denver","cod":200}'
  recorded_at: Thu, 09 Jun 2016 03:58:17 GMT
recorded_with: VCR 3.0.3
