---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?APPID=7c7ca0ee9169c5ebdc6f29564d19b7e0&q=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-104.98,"lat":39.74},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"base":"cmc stations","main":{"temp":304.29,"pressure":1011,"humidity":15,"temp_min":299.25,"temp_max":306.55},"wind":{"speed":2.06,"deg":73,"gust":4.63},"clouds":{"all":0},"dt":1466030147,"sys":{"type":3,"id":35615,"message":0.0092,"country":"US","sunrise":1465990286,"sunset":1466044212},"id":5419384,"name":"Denver","cod":200}'
  recorded_at: Wed, 15 Jun 2016 22:45:55 GMT
recorded_with: VCR 3.0.3
