<div class="container">
  <div class="row">
    <div class="task-list">
      <table class="table">
        <h2>Sensei Remind Me:</h2>
        <% @tasks.each do |task|%>
        <tr>
          <td><p><%= task.description %></p></td>
          <td><p> <%= link_to "Edit", edit_task_path(task), method: :get %> </p></td>
          <td><p> <%= link_to "Delete", delete_task_path(task), method: :delete %> </p></td>
        </tr>
        <% end %>
      </table>
      <div class="center">
        <a href= "<%= new_task_path(current_user) %>" class="btn btn-default btn-lg">Add Tasks</a>
      </div>
    </div>

  </div>

<h2>
  <div class="timer", id="timer">
    <!-- <h2>Start Timer</h2> -->
    <div class="time-format">Project<br>Timebox<br>

      <span id="time"></span></div>
    <p>
      <input type="button" value="start" onclick="START();">
    	<input type="button" value="stop" onclick="STOP();">
    	<input type="button" value="reset" onclick="RESET()">
    </p>
  </div>

  <div>Time: <span id="time"></span></div>
<input type="button" value="start" onclick="start();">
<input type="button" value="stop" onclick="stop();">
<input type="button" value="reset" onclick="reset()">
</h2>
</div>
