
<div class="container">
  <div class="dash-chunk">
    <div class="row">
      <div class="inline-row">

        <div class="col-md-4 pic-thumb">
          <div class="circle format-profile-pic ui-widget-content" id="draggable">
            <%= image_tag current_user.image, class: "circle profile"  %>
          </div>
        </div>

        <div class="col-md-6 weather-widget draggable ui-widget-content" id="draggable">
          <h2>Good <%= @greeting %> Padawan</h2>

          <p>It's <%#= @temp %>°F in <%= current_user.location %></p>
        </div>
      </div>
    </div>

    </div> <!-- 1st row -->

    <div class="row">
      <div class="inline-row">

          <div class="col-md-6 commits-widget draggable ui-widget-content" id="draggable">
            <div class="commits">
              <h2>Git Tracker</h2>
              <p>
                You have made <%= @commits %> commits today
              </p>
            </div>
          </div>

        <div class="col-md-4">

        </div>

      </div>

    </div> <!-- 2nd row -->
  </div>
</div>
