
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">
        <i class="fa fa-play-circle"></i>  <span class="light">I'm good at this<a class="page-scroll" href="https://www.linkedin.com/in/kris-foss-a9683617">Hire Me</a></span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <% if current_user %>
          Hello, <%= current_user.name %>
        <% else %>
        <li>
          <%#= link_to "Login with Google+", google_login_path %>
          <%#= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
          <li><%= link_to 'Login With Github', github_login_path %></li>
        </li>
        <% end %>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
