// Place all the styles related to the task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task-list {
  padding-top: 100px;
  margin: auto;
  width: 800px;
}

.new-task-form {
  padding-top: 30px;
  margin: auto;
  width: 800px;
  text-align: center;
}

.instructions {
  padding-top: 250px;
  margin: auto;
  text-align: center;
  // width: 100;
}

.center {
  text-align: center;
  margin: auto;
}
