// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.timer {
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  background-color: #42dca3;
  box-shadow: 5px 5px 30px #888888;
  display: inline-block;
  text-align: center;
  width: 300px;
  height: 300px;
  float: left;

  p {
    padding: 20px;
    border: 0px;
    margin: 0px;
    color: #42dca3;
  }
  h2 {
    padding: 36px;
    border: 0px;
    margin: 0px;
    color: #42dca3;
  }
}

.pic-thumb {
  display: inline-block;
  float: left;
  margin: 30px;
  behavior: url(PIE.htc);
  border-radius: 50% !important;
}

.format-profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 50% !important;
  behavior: url(PIE.htc);
  display: inline-block;
}

img.profile {
  width: 100%;
  height: 100%;
  border-radius: 50% !important;
  behavior: url(PIE.htc);
  overflow: hidden;
  object-fit: cover;
  box-shadow: 5px 5px 30px #888888;
}

.dash-chunk {
  padding-top: 90px;
}

.inline-row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.weather-widget {
  border-color: white;
  border-style: solid;
  background-color: #42dca3;
  box-shadow: 5px 5px 30px #888888;
  border-radius: 6px;
  display: inline-block;
  text-align: center;
  // background-color: transparent;

  p {
    padding: 20px;
    border: 0px;
    margin: 0px;
    color: #42dca3;

  }
  h2 {
    padding: 20px;
    border: 0px;
    margin: 0px;
    color: #42dca3;
  }
}

.commits-widget {
  border-color: none;
  border-style: none;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  float: right;
  // background-color: #42dca3;
  width: 200px;
  height: 200px;
  behavior: url(PIE.htc);
  box-shadow: 0px 0px 5px #ffffff;

  p {
    color: white;
    margin: 0px;
  }
  h1 {
    padding-top: 28px;
    color: white;
    font-size: 80px;
    margin: 0px;

  }
  h2 {
    color: white;
  }
}

.commits {
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  background-color: #42dca3;
  box-shadow: 5px 5px 30px #888888;
  display: inline-block;
  text-align: center;
  width: 200px;
  height: 200px;
}

.filler {
  background-color: white;
}


.reminders-widget {
  border-color: white;
  border-style: solid;
  background-color: #42dca3;
  box-shadow: 5px 5px 30px #888888;  border-radius: 6px;
  display: inline-block;
  text-align: center;
  float: left;
  // background-color: transparent;

  p {
    padding: 20px;
    border: 0px;
    margin: 0px;
    color: #42dca3;
  }
  h2 {
    padding: 20px;
    border: 0px;
    margin: 0px;
    color: #42dca3;
  }
}


.praise-insult-widget {
  border-color: white;
  border-style: solid;
  background-color: #42dca3;
  box-shadow: 5px 5px 30px #888888;
  border-radius: 6px;
  display: inline-block;
  text-align: center;
  float: right;
  // background-color: transparent;

  p {
    padding: 20px;
    border: 0px;
    margin: 0px;
    color: #42dca3;
  }
  h2 {
    padding: 20px;
    border: 0px;
    margin: 0px;
    color: #42dca3;
  }
}

#draggable {
  background-color: transparent !important;
}

.draggable {
  background-color: transparent !important;
}

.ui-widget-content {
  background-color: transparent !important;
}

.ui-widget-content {
  background-color: transparent !important;
    border: 1px solid #aaaaaa;
    /* background: #ffffff url("images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x; */
    // color: #222222;
}
